<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%level][%thread] %logger{0} - %message%n%throwable{full}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <root level="INFO">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

<!--  <logger name="io.undertow" level="TRACE" />-->

</configuration>
